<div class="row margin-zero" style="height: 100vh;">
  <div class="col-lg-6 left-banner padding-zero">
      <div class="container padding-zero">
          <img src="assets/images/CCTV1.png" alt="Avatar" class="image" width="100%">
          <div class="overlay">
              <!-- <img src="assets/images/echo white.png" alt="Avatar" style="width:90%;padding-left: 10%;padding-top: 10%;"> -->

              <a type="button" routerLink="echo-indoor" class="btn btn-lg btn-white buttonPosition">visit
                  website</a>
          </div>
      </div>
  </div>
  <div class="col-lg-6 right-banner padding-zero">
      <div class="container padding-zero">
          <img src="assets/images/furniture.png" alt="Avatar" class="image" width="100%">
          <div class="overlay">
              <!-- <img src="assets/images/echo outdoor logo.png" alt="Avatar" style="width:80%;padding-left: 10%;"> -->
              <a type="button" class="btn btn-lg btn-white buttonPosition">Coming Soon</a>
          </div>
      </div>
  </div>
</div>
<!-- <p>Content works</p> -->