.cctvProdPadding {
    margin: 6% 0% 2% 0%;
}
.elegantshadow {
    /* font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; */
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 45px;
    padding: 2% 0 2% 2%;
    /* text-align: center; */
    /* text-transform: uppercase; */
    text-rendering: optimizeLegibility;
    color: #131313;
    background-color: #ffffff;
    letter-spacing: .15em;
    /* text-shadow: 1px -1px 0 #999090, -1px 2px 1px #ada0a0, -2px 4px 1px #b1b1b1, -3px 6px 1px #c0b8b8, -4px 8px 1px #c0bfbf, -5px 10px 1px #c4c2c2, -6px 12px 1px #b4b4b4 */
}
.image-spacing{
    padding: 4%;
}