<div class="cctvProdPadding">
  <div class="cctvProdPadding">
      <div class="row">
          <div class="col-md-12">
            <h1 class="elegantshadow text-center"> Our Solutions </h1>
          </div>
        </div>
    <div class='row'>
      <div class="col-md-3 image-spacing">
        <img src="../../../../assets/images/solution1.JPG" alt="" width="100%">
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/images/solution2.JPG" alt="" width="100%">
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/images/solution3.JPG" alt="" width="100%">
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/images/solution4.JPG" alt="" width="100%">
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/images/solution5.JPG" alt="" width="100%">
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/images/solution6.JPG" alt="" width="100%">
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/images/solution7.JPG" alt="" width="100%">
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/images/solution8.JPG" alt="" width="100%">
      </div>
    </div>
  </div>
</div>