<div class="container">
<article>
    <h1>ABOUT ECHO</h1>
    <p>Echo was founded in the year 2015 when Mr. Pranav Agarwal, Founder & CEO was only 20. During his freshman year, he decided to bring his startup plan into action.</p>
    <p>Identifying that, the idea of wireless earphones seemed like a good deal. Continuing with the market survey it was found that only hands-free single ear talking Bluetooth devices were available in the Indian market which was also not very acceptable to the consumers due to its discomfort. That's when ECHOdecided to bring the wireless earphones into the market which not only was customer friendly but also had multiple comfortable uses.</p>
    <p>Soon, after the success of wireless earphones and headphones, the company started to deal in wireless chargers. Echo was one of the first Indian brands that launched wireless chargers along with wireless charger receivers that enabled smartphones to charge even if they were not equipped with wireless charging option. </p>
    <p>Soon Echo reached among the very few successful companies in India dealing in these products. In all of North India, mainly Uttar Pradesh Echo made into the headlines. In short span of time echo managed to accomplish a turnover of 300 lakhs.</p>
    <p>Taking not much time, the brand entered the CCTV market. It launched a wide variety of  CCTV and surveillance systems along with a range of wireless CCTV cameras. Due to its quality and pricing, it became popular among the consumers and hence, bagged mega projects like Green Park Stadium, LPS Institute of Cardiology in Kanpur, Tehsil Billaur, Waxpol hotels and resorts.</p>
    <p>The company has announced it’s the new range of high tech CCTV cameras giving 4K and 1080P HD quality output along with superior night vision in pitch dark conditions with reasonable pricing. This range will also be weather proof providing the customers with an 18-month replacement warranty and assured service within 12 hours of complaints.</p>
    <p>It would also deal in advanced XVRs that would be 5 in 1 and will have the ability to support TVI, CVI, AHD, IP, CVBS cameras which would prevent from changing the already existing cameras of the consumers.For hassle-free working, IP and AHD cameras can be viewed in a single device which would also save the hardware cost.  The DVRs contains 2 hard disks each for 6 TB making it an excellent storage device for a longer period. </p>
  </article>
  <br>
  <br>
  <article>
    <h1>ABOUT ECHO CCTV</h1>
    <p>Team ECHO has unflinchingly believed that the genuine promise to quality and zeal for development is the sole key to success.</p>
    <p>It is the belief that we have moulded ourselves to bring to our clients the best and most imaginative state of art wireless, electronic security, and surveillance solutions.</p>
    <p>Pan India ECHO offers a broad array of the next-generation end to end wireless consumer goods, low voltage, imaging, analog, hybrid and intelligent IP video surveillance equipment, ranging from analog cameras, top-notch IP cameras, Remote cameras to XVR, frill and some.</p>
    <p>Our enthusiasm for keeping pace with the changing needs and their solutions has been valued by our satisfied customers and security authorities.</p>
    <p>To add features to our cap, echo is developing these quality items in India itself, patronising the make in India movement and therefore guarantying that buyer gets the items implementation in time.</p>
    <p>Team echo aims at working on the greater section and applications from private and SMEs to city observations, government, establishments, traffic control, rail, roads, air terminals, transport, banking, ordinance, retail business, training, medical services, energy resources, sports arenas, educational hubs and you name it.</p>
    <p>We assure that we won't rest on our laurels and will keep a striving hand to achieve targets after targets and also in the process to satisfy the trust that put in us.</p>
    <p class="lead">
        With us as your eyes - the sky is the limit.
    </p>
  </article>
  <br>
  <br>
  <article>
    <h1>ABOUT ECHO OUTDOORS</h1>
    <p>Disclosing a scope of uber outside garden furniture, Lighting, and         embellishments. ECHO Planned and created with the best nature of the crude material. Each model highlights one of a kind outline sensibility and mark structureloaning it a quality of sheer style and panache. </p>
    <p>Instil eating, sitting, relaxing, engaging, sheer living with a dosageof refinement and rich style that characterise you. ECHO accumulation treatsyou outside with the ideal measurement of extravagance. Take pleasure in itsethereal magnificence. </p>
    <p>Our items go has wicker/rattan furniture, aluminium cast furniture, outside garden wooden furniture, open-air lighting, open-air flooring, outside claddings, plant embellishments, and garden accessories. </p>
    <p>Making our wicker/rattan furniture out of best quality strands of wicker, woven in extraordinary patterns, though our metal furniture that is made out of aluminium that needs to experience different process through which it is finely made, powder-coated and completed with highlights in extravagant tones of premium wrap up. </p>
    <p>Bringing the top of the line furniture mark to ECHO from Hong-Kong to India with unrivalled quality and best scope of items design‐driven OutdoorFurniture, Wicker Furniture, Braided, and Rope Furniture,For Garden&Patio. We assemble our handmade firsts to the mostnoteworthy conceivable guidelines,underscoring practical creation, hand weaving emphasises.</p>
  </article>
</div>