<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <h1 class="elegantshadow"> DVR Models </h1>
      </div>
  </div>
  <div class="row cctvProdPadding">
    
          <!-- <div class="flip-card col-sm-6 col-xs-12 col-md-3">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                  </div>
                </div>
              </div>
            </div> -->

        
     <div class="flip-card col-sm-6 col-xs-12 col-md-3">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1> 
              <p>Architect & Engineer</p> 
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>John Doe</h1> 
                  <p>Architect & Engineer</p> 
                  <p>We love that guy</p>
                </div>
              </div>
            </div>
          </div>

          <div class="flip-card col-sm-6 col-xs-12 col-md-3">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                  </div>
                </div>
              </div>
            </div>

    </div> 
    <div class="row">
        <div class="col-md-12">
            <h1 class="elegantshadow"> Outdoor Models </h1>
        </div>
    </div>
    <div class="row cctvProdPadding">
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>John Doe</h1> 
                  <p>Architect & Engineer</p> 
                  <p>We love that guy</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="flip-card col-sm-6 col-xs-12 col-md-3">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="flip-card col-sm-6 col-xs-12 col-md-3">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="assets/images/CCTV1.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                      <h1>John Doe</h1> 
                      <p>Architect & Engineer</p> 
                      <p>We love that guy</p>
                    </div>
                  </div>
                </div>
              </div>
  
      </div>



</div>

