<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="elegantshadow"> Our Solutions </h1>
    </div>
  </div>
  <div class="row cctvProdPadding">
    <ul class='circle-container'>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products/CCTV/AHD">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/ahd cctv cameras.png" alt="ahd cctv cameras">
                </div>
                <div class="flip-card-back p-3">
                  <h4>AHD CCTV CAMERAS </h4>
                  <a routerLink="/echo-indoor/products/CCTV/AHD">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products/CCTV/IP">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/ip cctv cameras.png" alt="ip cctv cameras">
                </div>
                <div class="flip-card-back p-3">
                  <h4>IP CCTV CAMERAS </h4>
                  <a routerLink="/echo-indoor/products/CCTV/IP">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products/CCTV">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/wireless cctv cameras.png" alt="Wireless cctv cameras">
                </div>
                <div class="flip-card-back p-3">
                  <h4>WIRELESS CCTV CAMERA </h4>
                  <a routerLink="/echo-indoor/products/CCTV">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/seemore.png" alt="See More">
                </div>
                <div class="flip-card-back p-3">
                  <h4>View All Products </h4>
                  <a routerLink="/echo-indoor/products">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products/CHARGERS">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/wireless chargers.png" alt="Wireless Chargers">
                </div>
                <div class="flip-card-back p-3">
                  <h4>WIRELESS CHARGERS </h4>
                  <a routerLink="/echo-indoor/products/CHARGERS">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products/HEADSETS">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/wireless headsets.png" alt="wireless headsets">
                </div>
                <div class="flip-card-back p-3">
                  <h4>WIRELESS HEADSETS </h4>
                  <a routerLink="/echo-indoor/products/HEADSETS">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products/HEADSETS">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/xvr.png" alt="xvr">
                </div>
                <div class="flip-card-back p-3">
                  <h4>XVR </h4>
                  <a routerLink="/echo-indoor/products/CCTV/XVR">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="flip-card col-sm-6 col-xs-12 col-md-3">
          <a routerLink="/echo-indoor/products/Accessories">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/images/accessory.JPG" alt="accessory">
                </div>
                <div class="flip-card-back p-3">
                  <h4>Accessory </h4>
                  <a routerLink="/echo-indoor/products/Accessories">
                    <p>View More</p>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- <div class="flip-card col-sm-6 col-xs-12 col-md-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/images/ahd cctv cameras.png" alt="ahd cctv cameras" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back p-3">
            <h2>AHD CCTV CAMERAS </h2>
            <a routerLink="/echo-indoor/products/CCTV/AHD">
              <p>View More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card col-sm-6 col-xs-12 col-md-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/images/ip cctv cameras.png" alt="ip cctv cameras" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back p-3">
            <h2>IP CCTV CAMERAS </h2>
            <a routerLink="/echo-indoor/products/CCTV/IP">
              <p>View More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card col-sm-6 col-xs-12 col-md-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/images/wireless cctv cameras.png" alt="Wireless cctv cameras"
              style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back p-3">
            <h2>WIRELESS CCTV CAMERAS </h2>
            <a routerLink="/echo-indoor/products/CCTV">
              <p>View More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card col-sm-6 col-xs-12 col-md-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/images/seemore.png" alt="See More" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back p-3">
            <h2>CHECK OUT COMPLETE RANGE OF CCTV CAMERAS </h2>
            <a routerLink="/echo-indoor/products">
              <p>View More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- ROW 2 -->
<!-- <div class="row cctvProdPadding"> 
    <div class="flip-card col-sm-6 col-xs-12 col-md-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/images/wireless chargers.png" alt="Wireless Chargers" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back p-3">
            <h2>WIRELESS CHARGERS </h2>
            <a routerLink="/echo-indoor/products/CHARGERS">
              <p>View More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card col-sm-6 col-xs-12 col-md-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/images/wireless headsets.png" alt="wireless headsets" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back p-3">
            <h2>WIRELESS HEADSETS </h2>
            <a routerLink="/echo-indoor/products/HEADSETS">
              <p>View More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card col-sm-6 col-xs-12 col-md-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/images/xvr.png" alt="xvr" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back p-3">
            <h2>XVR </h2>
            <a routerLink="/echo-indoor/products/HEADSETS">
              <p>View More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>   -->