<footer style="padding-top: 11%;">
    <div class="container">
        <div class="row alignment">
            <div class="col-md-4">
                <h4>PRODUCTS</h4>
                <p><a routerLink="/echo-indoor/products/CCTV/IP">NETWORK CAMERAS</a></p>
                <p><a routerLink="/echo-indoor/products/CCTV/AHD">ANALOG HD CAMERAS</a></p>
                <p> <a routerLink="/echo-indoor/products/CCTV">WIRELESS CAMERAS</a></p>
                <p> <a routerLink="/echo-indoor/products/CCTV/XVR">XVR</a></p>
                <p> <a routerLink="/echo-indoor/products/CHARGERS">WIRELESS CHARGERS</a></p>
                <p> <a routerLink="/echo-indoor/products/HEADSETS">WIRELESS HEADSETS</a></p>
            </div>
            <div class="col-md-4">
                <h4>KNOW US</h4>
                <p> <a routerLink="/company/about">ABOUT US</a></p>
                <p> <a routerLink="/company/certification">CERTIFICATIONS</a></p>
                <p> <a routerLink="">MARKETING</a></p>
                <p> <a routerLink="">NEWS</a></p>
                <p> <a routerLink="">GALLERY</a></p>
            </div>
            <div class="col-md-4">
                <h4>RESOURCES</h4>
                <p><a routerLink="">DOWNLOADS</a></p>
                <p><a routerLink="/company/ewaste">E WASTE MANAGEMENT</a></p>
                <p><a routerLink="/company/contact">CONTACT US</a></p>
            </div>
        </div>
        <!-- <div class="row">
            <form>
                <input type="text" placeholder="Search..">
                <button class="btn btn-secondary m-2">SUBMIT</button>
            </form>
        </div> -->
    </div>
    <div class="box">
        <div class="row content">
            <div class="white ">
                <nav class="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6" style="float: left">
                                <p style="float: left;">
                                        <br><br>
                                    2019 <i class="fa fa-copyright"></i> ECHO VENTURES. ALL RIGHTS RESERVED 
                                </p>
                            </div>
                            <div class="col-md-6" style="float: right">
                                <img src="../../../assets/images/CE.png" alt="" width="12.5%" style="float: right;">
                                <img src="../../../assets/images/ISO.png" alt="" width="25%" style="float: right;">
                                <img src="../../../assets/images/Make_In_India.png" alt="" width="20%"
                                    style="float: right;">
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>