<footer>
    <div class="container">
        <div class="row alignment">
        <div class="col-md-4">
            <h3>PRODUCTS</h3>
            <p><a routerLink="">NETWORK CAMERAS</a></p>
            <p><a routerLink="">ANALOG HD CAMERAS</a></p>
            <p>	<a routerLink="">WIRELESS CAMERAS</a></p>
            <p>	<a routerLink="">XVR</a></p>
            <p>	<a routerLink="">WIRELESS CHARGERS</a></p>
            <p>	<a routerLink="">WIRELESS HEADSETS</a></p>
        </div>
        <div class="col-md-4">
            <h3>KNOW US</h3>
            <p>	<a routerLink="">ABOUT US</a></p>
            <p>	<a routerLink="">CERTIFICATIONS</a></p>
            <p>	<a routerLink="">MARKETING</a></p>
            <p>	<a routerLink="">NEWS</a></p>
            <p>	<a routerLink="">GALLERY</a></p>
        </div>
        <div class="col-md-4">
            <h3>RESOURCES</h3>
            <p><a routerLink="">DOWNLOADS</a></p>
            <p><a routerLink="">E WASTE MANAGEMENT</a></p>
            <p><a routerLink="">CONTACT US</a></p>
        </div>
    </div>
    <div class="row">
        <form>
            <input type="text" placeholder="Search..">
            <button class="btn btn-secondary m-2">SUBMIT</button>
        </form>
    </div>
    </div>
  <div class="box">
      <div class="row content">
          <div class="white ">
              <nav class="navbar navbar-toggleable-sm navbar-trans navbar-inverse">
                  <div class="container">
                        2019 COPYRIGHT ECHO VENTURES. ALL RIGHTS RESERVED
                  </div>
              </nav>

          </div>
      </div>
    </div>

</footer>
