html, body {
  max-width: 100%;
  overflow-x: hidden;
  
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #46484a;
  background-color: whitesmoke;
}


footer p a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px !important;
}
footer p a:hover{
  color: #46484a;
  font-size: 15px !important;
}
.alignment{
  text-align: left;
}
.footer{
  background-image: url('/assets/images/WEBSITE FOOTER.png');
  
}
footer {
  background-color: #ffffff !important;
  /* background-image: url('/assets/images/WEBSITE FOOTER.png'); */
  background-color: rgb(102, 101, 101) !important;
  background-repeat: no-repeat;
  line-height: 1rem;
  /* position: relative; */
  /* width: 100%; */
  /* bottom: 0; */
}

footer {
  position: absolute;
  right: 0;
  /* bottom: 0; */
  left: 0;
  padding: 1rem;
  /* background-color: #efefef; */
  text-align: center;
}

.box {
  display: flex;
  flex-flow: column;
  /* height: 100%; */
  max-height: 100%;
  height: 132;
}

.box .row.content {
  flex: 0 1 auto;
}

.container {
  position: relative;
  width: 100%;
}

@media (min-width: 992px) {
  div {
    width: 100% !important;
  }
}
