<div class="container">
  <div class="row">
        <!-- <ng-container *ngFor="let p of filterd;let i = index">
            <ng-container *ngFor="let products of p.Products"> 
            </ng-container>
        </ng-container> -->
        <h1>{{filterd[0].Products[0].pid}}</h1>

    </div>
  <div class="row product">
      <div class="col-md-5 ">
          <img [src]="filterd[0].Products[0].img[0]" class="img-fluid " alt="" style="width: 100%">
      </div>
      <div class="col-md-7 productDescription">
            <h2>{{filterd[0].Products[0].pname}}</h2>
        <div [innerHTML]="discription" style="font-size: 17px;">
        <p>{{filterd[0].Products[0].discription}}</p>
    </div>
      </div>
  </div>
  <div class="row product productSpecification">
      <div class="col-md-12">
          <div class="w3-bar ">
              <button class="w3-bar-item w3-button tablink w3-black"
                  onclick="openCity(event,'Specification')">Product Specification</button>
              <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'RequestInformation')">Request
                  Details</button>
          </div>
          <div id="Specification" class="w3-container tab productSpecification">
              <table style="width:100%; font-size: 22px;">
                  <tr>
                      <th>Image Sensor</th>
                      <td>1/2.8" 2Megapixel CMOS</td>
                  </tr>
                  <tr>
                      <th>Minimum Illumination</th>
                      <td>Color: 0. 1Lux / F1.2, B/W: 0.01Lux/F1.2</td>
                  </tr>
                  <tr>
                      <th>Shutter Speed</th>
                      <td>Auto/Manual, 1/3(4)~1/10000s</td>
                  </tr>
                  <tr>
                      <th>White Balance</th>
                      <td>Auto</td>
                  </tr>
                  <tr>
                      <th>Lens</th>
                      <td>C/CS Mount Lens</td>
                  </tr>
                  <tr>
                      <th>Video</th>
                      <td>Video Compression H.264/MJPEG</td>
                  </tr>
                  <tr>
                      <th>S/N Ratio</th>
                      <td>More than 50 dB</td>
                  </tr>
                  <tr>
                      <th>Video Streaming</th>
                      <td>Main Stream:1080P/720P(1 ~ 25/30fps), Extra Stream: D1/CIF(1 ~ 25/30fps)</td>
                  </tr>
              </table>
          </div>
          <div id="RequestInformation" class="w3-container tab" style="display:none">
            <form #form="ngForm" (ngSubmit)="submit(form)" >
                <div class="row">
                    <div class="col-md-6">
                        <label for="name"> Name:</label> <br>
                        <input type="text" ngModel #name="ngModel" name="name" required>
                        <div class="alert alert-danger" *ngIf="name.invalid && name.touched" role="alert">
                          Name is required
                        </div>
                        <!-- <input type="hidden" ngModel #productId="ngModel" name="productId" value="filterd[0].Products[0].pid"> -->
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email:</label> <br>
                        <input type="email"  ngModel #email="ngModel" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                        <div class="alert alert-danger" *ngIf="email.invalid && email.touched" role="alert">
                          <div *ngIf="email.errors.required">Email is required</div> 
                          <div *ngIf="email.errors.pattern">It should be valid email</div> 
                        </div>                          
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="Mno">Mobile No.</label><br>
                        <input type="text" ngModel #Mno="ngModel" name="Mno" required pattern="^(\+\d{1,3}[- ]?)\d{10}$">
                        <div class="alert alert-danger" *ngIf="Mno.invalid && Mno.touched" role="alert">
                          <div *ngIf="Mno.errors.required">Mobile Number is required</div> 
                          <div *ngIf="Mno.errors.pattern">It should be valid Mobile Number with proper country code like (+91 )</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="company">Your Company</label> <br>
                        <input type="text" ngModel #company="ngModel" name="company" required>
                        <div class="alert alert-danger" *ngIf="company.invalid && company.touched" role="alert">
                          Company Name is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="message">Message:</label> <br>
                        <textarea type="text" ngModel #message="ngModel" name="message" required rows="3"></textarea>
                        <div class="alert alert-danger" *ngIf="message.invalid && message.touched" role="alert">
                          Message is required
                        </div>
                    </div>
                </div>
                <br><br>
                <input type="submit" [disabled]="form.invalid" value="Submit">
              </form>
          </div>
      </div>
  </div>
</div>
