body {
    background-color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-size: 30px; */
    overflow-x: hidden;
}

.navbar-brand, img {
    width: 40%;
}



.product {
    margin: 5% 0% 0% 0%;
}

.productDescription {
    font-size: 27px;
}

.productSpecification {
    font-size: 24px !important;
}

#Specification, #RequestInformation {
    margin: 2% 0% 4% 0%;
}

.box {
    display: flex;
    flex-flow: column;
    max-height: 100%;
    height: 132;
}

.box .row.content {
    flex: 0 1 auto;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.navbar li {
    color: #000
}

