<div class="container">
    <h1 class="text-center">E-waste Management</h1>
    <article>
      <h2>Introduction</h2>
      <p>Electronic waste, or e-waste, is a term for electronic products that have become unwanted, non-working or obsolete, and have essentially reached the end of their useful life.</p>
      <p>As per E-waste Rule 2016, the E waste defined as ‘electrical and electronic equipment, whole or in part discarded as waste by the consumer or bulk consumer as well as rejects from manufacturing, refurbishment and repair processes.</p>
      <p>E-waste contains many valuable, recoverable materials such as aluminum, copper, gold, silver, plastics, and ferrous metals. In order to conserve natural resources and the energy needed to produce new electronic equipment from virgin resources, electronic equipment can be refurbished, reused, and recycled instead of being landfilled.</p>
      <p>E-waste also contains toxic and hazardous materials including mercury, lead, cadmium, beryllium, chromium, and chemical flame retardants, which have the potential to leach into our soil and water. </p>
    </article>
    <article>
      <h2>Benefit of recycling of E-waste:</h2>
      <ul>
        <li>E-waste contains many valuable, recoverable materials such as aluminum, copper, gold, silver, plastics, and ferrous metals. In order to conserve natural resources and the energy needed to produce new electronic equipment from virgin resources, electronic equipment can be refurbished, reused, and recycled instead of being landfilled.</li>
        <li>E-waste also contains toxic and hazardous materials including mercury, lead, cadmium, beryllium, chromium, and chemical flame retardants, which have the potential to leach into our soil and water. </li>
        <li> <b> Protects your surroundings-</b> Safe recycling of outdated electronics promotes sound management of toxic chemicals such as lead and mercury.</li>
        <li> <b> Conserves natural resources-</b> Recycling recovers valuable materials from old electronics that can be used to make new products. As a result, we save energy, reduce pollution, reduce greenhouse gas emissions, and save resources by extracting fewer raw materials from the earth.</li>
        <li><b>Helps others - </b>Donating your used electronics benefits your community by passing on ready-to-use or refurbished equipment to those who need it.</li>
        <li><b> Saves landfill space -</b> E-waste is a growing waste stream. By recycling these items, landfill space is conserved.</li>
      </ul>
    </article>
    <article>
      <h2>Recycling of E-waste:</h2>
      <p>The company has tied -up with the E-waste Recyclers India for collection of all our E-waste on PAN India and disposes the same at their plant at E-50, UPSIDC Industrial Area, 98 Km Stone, NH 2, Kosi Kotawan Distt Mathura, U.P., and India. Customer can reach or call on Toll Free No 
         <b> 1800-102-5679</b>.Our representatives explain them about process of disposal and make them aware about nearest drop point available to drop the e-waste also give information about incentive we will offer to them against their end of life product. If any customer wants to handover the material from their door steps, we do send either our logistics team or E-waste Recycler India team to collect the items and channelize the same to our e-waste partner plant for final processing
          </p>
    </article>
    <article>
      <h2>Dos & Don’ts</h2>
      <h3>Do’s:</h3>
      <ul>
        <li>Always look for information on the catalogue with your product for end-of-life equipment handling.</li>
        <li>Ensure that only Authorized Recyclers repair and handle your electronic products.</li>
        <li>Always call our E-waste Authorized Collection Centres/points to dispose products that have reached end-of life.</li>
        <li>Always drop your used electronic products, batteries or any accessories when they reach the end of their life at your nearest Authorized E-Waste Collection Centres/Points.</li>
        <li>Always disconnect the battery from product, and ensure any glass surface is protected against breakage.</li>
      </ul>
      <h3>Don’ts:</h3>
      <ul>
        <li>Do not dismantle your electronic Products on your own</li>
        <li>Do not throw electronics in bins having “Do not Dispose” sign.</li>
        <li>Do not give e-waste to informal (Kabbadi) and unorganized sectors like Local Scrap Dealer/ Rag Pickers.</li>
        <li>Do not dispose your product in garbage bins along with municipal waste that ultimately reaches landfills.</li>
      </ul>
    </article>
    <article>
      <h2>Collection Centres: </h2>
      <p>E-waste Recyclers India has signed an agreement with <b> Professional Logistics Pvt Ltd. for reverse logistics </b>for Channelization of E-waste to the facility. Copy of an agreement is attached for smooth channelization of E-waste.</p>
      <p><b> Reverse logistics </b>for Channelization of E-waste to the facility. </p>
    </article>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Sr. No</th>
            <th scope="col">States</th>
            <th scope="col">Location</th>
            <th scope="col">Logistic</th>
            <th scope="col">Address</th>
            <th scope="col">TOLL FREE NUMBER</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Delhi</td>
            <td>Rangpuri</td>
            <td>Professional Logistics Pvt.Ltd.</td>
            <td>198, G/F Malikpur Kohi, Next to hero honda Service Station, Rangpuri, Mahipalpur EXT. New Delhi, Delhi – 110037</td>
            <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>Haryana</td>
              <td>Gurugram</td>
              <td>Professional Logistics Pvt.Ltd.</td>
              <td>J-171, New Palam Vihar Phase-1, Gurgaon, Gurugram, Haryana 122017</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">3</th>
              <td>Jharkhand</td>
              <td>Dhanbad</td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>Sardar Patel Nagar, Dhanbad, Jharkhand – 826004</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">4</th>
              <td>Uttar Pradesh
                </td>
              <td>Noida</td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>BH-122, Sector -70, Noida, Uttar Pradesh 201301</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">5</th>
              <td>Manipur
                </td>
              <td>	Manipur
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">6</th>
              <td>Maharashtra
                </td>
              <td>	Mumbai
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>Plot-92,gala no.-01,Sector 19C Vashi Navi, Mumbai -400705</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">7</th>
              <td>Maharashtra
                </td>
              <td>	Pune
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>Plot No-24,Sec No-4, Shikshak Colony, Near Spine City, Moshi Pradhikaran, Pune – 412105</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">8</th>
              <td>Odisha
                </td>
              <td>	Cuttack
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>1st Floor Deltahouse, Rajendra Nagar, Madhupatna Cuttack, Bhubaneshwar</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">9</th>
              <td>Manipur
                </td>
              <td>	Manipur
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">10</th>
              <td>Telangana
                </td>
              <td>	Hyderabad
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	4, Block-3, 4th Shatter at 179, MPR Estates near Old check post Old Bowaenpally Secunderabad, Hyderabad – 50011</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">11</th>
              <td>Arunachal Pradesh
                </td>
              <td>	Arunachal Pradesh
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">12</th>
              <td>Karnataka
                </td>
              <td>	Bangalore
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	No.43 1st Floor 2nd main D.D.U.T.T.L. Yeshwantpur, Bangalore – 560022</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">13</th>
              <td>Karnataka
                </td>
              <td>	Mangalore
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>Opp. Hindustan Lever Ltd, Sulthan, Bhathery road Boloor Mangalore (KA)-575003</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">14</th>
              <td>Jharkhand
                </td>
              <td>	Ranchi
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>Ranchi, 
                  # 9810053907,9312377788
                  Jharkhand
                  info@packersmovers.com</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">15</th>
              <td>Tamil Nadu
                </td>
              <td>	Chennai
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>27, Sakthi Nagar Phase II, Sennerkuppam, Near Bisleri Water Plant, Chennai – 60056</td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">16</th>
              <td>Rajasthan
                </td>
              <td>	Jaipur
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	A-81, 200 ft. By Pass, Heerapura, Jaipur, rajasthan – 302021
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">17</th>
              <td>Sikkim
                </td>
              <td>	Sikkim
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	A-Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">18</th>
              <td>Odisha
                </td>
              <td>	Bokaro
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		1st Floor Deltahouse, Rajendra Nagar, Madhupatna Cuttack, Bhubaneshwar
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">19</th>
              <td>Assam
                </td>
              <td>	Guwahati
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">20</th>
              <td>Tripura
                </td>
              <td>	Tripura
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">21</th>
              <td>Uttar Pradesh
                </td>
              <td>	Lucknow
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	S-317, Transport Nagar, Behind RTO Office, Lucknow, Uttar Pradesh 226012
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">22</th>
              <td>Madhya Pradesh
                </td>
              <td>	Indore
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	284 AS-3 Scheme No – 78,vijay nagar Indore, Madhya Pradesh
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">23</th>
              <td>West Bengal
                </td>
              <td>		Siliguri
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Siliguri
                  West Bengal
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">24</th>
              <td>Gujarat
                </td>
              <td>		Ahmedabad
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		Shop No D18, Pushp Penament, Behind Mony Hotel, Isanpur, Ahmedabad
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">25</th>
              <td>Bihar
                </td>
              <td>		Patna
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		Dr. A.K Pandey (IPS) Malyanil buddha Colony, Patna (Bihar)-800001
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">26</th>
              <td>Nagaland
                </td>
              <td>		Nagaland
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">27</th>
              <td>Meghalaya
                </td>
              <td>		Shillong
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">28</th>
              <td>Mizoram
                </td>
              <td>		Mizoram
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		Zonal office: HN-34 Kundli Nagar Basistha Chariali, Near Parbhat Apartment, Guwahati-781029
                  Contact: Rajkumar Puniya
                  9810053907
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">29</th>
              <td>Andhra Pradesh
                </td>
              <td>		Vishakhapatnam
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		Shop No.8, New Gajuwaka, Opp. High School Road, Vishakhapatnam, Andhra Pradesh-530026
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">30</th>
              <td>Punjab
                </td>
              <td>		Chandigarh
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		Shop No:-15 & 16, Pabhat Road, Opp:-Tennis Academy,Zirakpur, Chandigarh, Punjab-140603
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">31</th>
              <td>West Bengal
                </td>
              <td>		Kolkata
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>		S156A/73, NORTHERN PARK, B.T.ROAD DUNLOP Kolkata-700108
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">32</th>
              <td>Jharkhand
                </td>
              <td>		Jamshedpur
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Jamshedpur
                  Jharkhand
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">33</th>
              <td>Chhattisgarh
                </td>
              <td>		Raipur
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Raipur Chattisgarh
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">34</th>
              <td>Odisha
                </td>
              <td>		Bhubaneshwar
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	RAcharya Vihar-Jaydev Vihar rd, Bhubaneshwar ,Odisha, India
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">35</th>
              <td>Maharashtra
                </td>
              <td>		Nagpur
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Nagpur,Maharashtra
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">36</th>
              <td>West Bengal
                </td>
              <td>		Asansol
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Shop No-4 Asansol Station Bus Stand Road, Munshi Bazar, Asansol, West Bengal 713301
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">37</th>
              <td>Andhra Pradesh

                </td>
              <td>		Secunderabad
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Shop No.-4,Block-3,4th Shatter at 179, MPR Estates Near Old Check Post Old Bowenpally Secunderabad,Hyderabad-500011
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">38</th>
              <td>Goa

                </td>
              <td>		Goa
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Goa
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">39</th>
              <td>Himachal Pradesh


                </td>
              <td>		Dharamshala
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Dharamshala, Himachal Pradesh
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">40</th>
              <td>Jammu & Kashmir
                </td>
              <td>		Jammu
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Jammu, Jammu & Kashmir
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">41</th>
              <td>Kerala
                </td>
              <td>		Cochin
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Cochin, Kerala
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
          <tr>
              <th scope="row">42</th>
              <td>Uttarakhand
                </td>
              <td>		Rudrapur
                </td>
              <td>	Professional Logistics Pvt.Ltd.
                </td>
              <td>	Rajkumar Poonia
                  # 9810053907,9312377788
                  Rudrapur, Uttarakhand
                  info@packersmovers.com
                </td>
              <td>1800-102-5679</td>
          </tr>
        </tbody>
      </table>
</div>
